.socials {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;

  &__link {
    -webkit-tap-highlight-color: transparent;

    svg {
      width: 32px;
      height: 32px;
      color: var(--text-color);
      transition: color $trans--300;

      &:hover {
        color: $color-gold;
      }
    }
  }
}
