doctype html

include ../base/data
include ../base/mixins
include ../base/header
include ../base/footer
include ../base/modal

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Portfolio")
    //- генерируйте favicon тут - https://realfavicongenerator.net/
    //- в подключение фавикон манифеста обязательно добавьте строчки crossorigin="use-credentials"

    link(rel='apple-touch-icon' sizes='180x180' href='./favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.png')
    link(rel='manifest' href='./favicon/site.webmanifest' crossorigin="use-credentials")

    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color', media='(prefers-color-scheme: light)', content='#ffffff')
    meta(name='theme-color', media='(prefers-color-scheme: dark)', content='#000000')


    //- используйте только для шрифта находящегося на первом экране
    //- link(rel="preload", href="fonts/placeholder.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="./fonts/Inter-Regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="./fonts/Merriweather-Bold.woff2", as="font", crossorigin="anonymous")

    script.
      //- document.documentElement.style.display = 'none';
      //- document.head.insertAdjacentHTML(
      //-   'beforeend',
      //-   '<link rel="stylesheet" href="css/themes/dark.css" onload="document.documentElement.style.display = \'\'">',
      //- );
      if (window.matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
        document.documentElement.style.display = 'none';
        //- document.head.insertAdjacentHTML(
        //-   'beforeend',
        //-   '<link rel="stylesheet" href="/light.css" onload="document.documentElement.style.display = \'\'">',
        //- );
      }


    link(rel="stylesheet", href="css/style.min.css")
    link(rel="stylesheet", href="css/themes/light.css", media="(prefers-color-scheme: light)")
    link(rel="stylesheet", href="css/themes/dark.css", media="(prefers-color-scheme: dark)")

  body
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentPage)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
